<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Select1 SuperMercado</title>
		<link href="../estilos.css" rel="stylesheet">
	</head>
	<body>
	<div class="divPadre">
		<p th:text="${usuario.getNickName}"/>
		<a th:href="@{/cerrarSesion}"><button class="botonForm">Cerrar sesion</button></a>
		<h1>Selecciona la accion a ejecutar</h1>
		
		<form action="#" th:action="@{/login/select/NuevoP}" method="get">
			<input type="submit" value="Nuevo Pedido" class="botonForm">
		</form>
		<form action="#" th:action="@{/login/select/listaP}" method="get">
			<input type="submit" value="Lista Pedidos" class="botonForm">
		</form>
		</div>
	</body>
</html>